// Fonts
$heading_font_family: azo-sans-web, sans-serif;

// Palette colors
$red: #F1433F;

/******* HEADER *********/

h1 {
   color: $red;
   font-family: $heading_font_family;
   text-transform: uppercase;
   font-weight: bold;
}

#landing {
   background-color: #E7E1D4;
   height: 80vh;
}

#logo {
   margin-top: 20vh;
}

#menu {
   margin-top: 20px;
}

#menu div ul li a {
   font-family: $heading_font_family;
   color: black;
   font-weight: bold;
}