/******* HEADER *********/
h1 {
  color: #F1433F;
  font-family: azo-sans-web, sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

#landing {
  background-color: #E7E1D4;
  height: 80vh; }

#logo {
  margin-top: 20vh; }

#menu {
  margin-top: 20px; }

#menu div ul li a {
  font-family: azo-sans-web, sans-serif;
  color: black;
  font-weight: bold; }
