// Fonts
$heading_font_family: azo-sans-web, sans-serif;
$body_font_family: chaparral-pro, serif;

// Palette colors
$red: #F1433F;
$light_blue: #70B7BA;

// Sizes
$bootstrap_xs: 768px;

body {
   font-family: $body_font_family;
   font-size: 16px;
   font-weight: 400;
   line-height: 25px;
}

h1, h2 {
   font-family: $heading_font_family;
   font-weight: bold;
}

h1 {
   color: $red;
   text-transform: uppercase;
   font-size: 48px;
}

h2 {
   font-size: 40px;
   margin-bottom: 20px;
   margin-top: 0px;
}

/******* HEADER *********/

#landing {
   background-color: #E7E1D4;
}

#landing-flex {
   height: 70vh;
   max-height: 700px;
   display: flex;
   flex-direction: column;

   @media screen and (max-width: $bootstrap_xs) {
      max-height: 350px;
   }
}

#logo {
   flex: 1;
   text-align: center;
   vertical-align: middle;

   display: flex;
   justify-content: center;

   h1 {
      align-self: center;
   }
}

#landing-image-container {
   flex: 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

#landing-image {
   display: flex;
   flex: 1;
   flex-shrink: 0;
   min-width: 100%;
   min-height: 100%;
   background-image: url("images/landing.png");
   background-position: center bottom;
   background-size: auto 90%;
   background-repeat: no-repeat;
}

#menu {
   margin: 30px 20px;
   font-size: 0.9em;

   .navbar-toggle .icon-bar {
      background-color: black;
   }

   li a {
      font-family: $heading_font_family;
      color: black;
      font-weight: bold;
      padding: 6px !important;
      margin: 0 10px 0 10px; 

      @media screen and (max-width: $bootstrap_xs) {
         margin: 10px !important;
      }    
   }

   li.active a, li a:hover {
      background: none;
      border-bottom: 4px solid $light_blue;

      @media screen and (max-width: $bootstrap_xs) {
         border-bottom: none !important;
         color: $light_blue;
      }
   }
}

/************** SECTIONS **************/

a.jcf-button {
   width: 220px;
   border-radius: 0px;
   border: solid 3px black;
   font-family: $heading_font_family;
   font-weight: bold;
   font-size: 1em;
   color: black;
   margin-top: 20px;

   @media screen and (max-width: $bootstrap_xs) {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
}

a.jcf-button:hover {
   color: white;
   background-color: black;
}

.image-side {
   margin: 20px auto 20px auto;
}

.text-side {
   
}

.section-row {
   padding: 30px 0 30px 0;
}

#about-me {
   h2 {
      color: $light_blue;
      @media screen and (max-width: $bootstrap_xs) {
         text-align: center;
      }
   }

   a.jcf-button {
      border-color: $light_blue;
      color: $light_blue;
   }

   a.jcf-button:hover {
      background-color: $light_blue;
      color: white;
   }

   .profile-picture {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-image: url("images/jcfontecha.jpg");
      background-size: auto 100%;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
   }
}

#software-engineer {
   background-color: $red;
   color: white;

   h2 {
      color: white; 
   }

   a.jcf-button {
      border-color: white;
      color: white;
   }

   a.jcf-button:hover {
      background-color: white;
      color: $red;
   }

   #software-dev-image {
      width: 100%;
      height: 200px;
      background-image: url("images/software-dev.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center center;
   }
}